* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  font-family: 'Bungee Hairline', sans-serif;
}

ul a {
  color: inherit;
}

h1 {
  text-align: center;
  word-spacing: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

/* nav {
  display: flex;
} */

.navbar {
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25rem; */
  flex: 0 1 25rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  justify-content: space-between;
}

footer .nav-links {
  justify-content: end;
  gap: 1rem;
}

.gallery-container {
  max-width: 1200px;
  margin-inline: auto;
}

.gallery {
  display: grid;
  /* grid-template-columns: 400px 400px 400px; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 0.5rem;
  padding: 0.5rem;

  @media screen and (width <= 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  /* grid-template-areas:
    'a b c'
    'd e f'
    'g h i'; */
}

/* .gallery-item:nth-of-type(2) {
  grid-area: e;
} */

.gallery-item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

@media screen and (width <= 500px) {
  .gallery-item:nth-of-type(5) {
    /* outline: 5px solid red; */
    grid-column: 1/3;
  }
}

@media screen and (width >= 1200px) {
  .gallery-item:nth-of-type(5) {
    /* outline: 5px solid red; */
    grid-column: 2/4;
    grid-row: 1/3;
  }
}

footer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
}
